@CHARSET "UTF-8";
/* general styling */
body {
	color: #000000;
	font-family: Impact;
}

h1 {
	color: #FF004C;
	font-size:2.5em;
}

div {
	text-align:center
}

/*play again link */
.playAgain a:link{
	text-decoration:none;
	font-size:1.1em;
	background-color:#B5B5B5;
	padding: 0.30em;
}

.playAgain a:hover{
	background-color:#FF704D;
}

.playAgain {
	background-color:#F22222;
	padding: 0.28em;
}

/* the hangman table */
.hangman {
	border: 1px solid black;
	margin-left: auto;
	margin-right: auto;
}

.hangman th{
	font-size:2.5em;
}

.response {
	font-size:1.8em;
	color: #FF004C;
}

.letterPanel{
	font-size:1.2em;	
}

.letterPanel a:visited{
	color: #3C1BE0;	
}

.letterPanel a:link{
	color: #3C1BE0;	
}