<table class="hangman">
	<tr>
		<th>Hangman PHP</th>
	</tr>
	<tr>
		<td><img src='/images/hangman_<?php echo $this->nwrong;?>.gif'
			alt='Wrong <?php echo $this->nwrong;?> out of <?php echo $this->max;?>'>
		</td>
	</tr>
	<tr>
		<td class="response"><?php echo $this->response;?></td>
	</tr>
	<tr>
		<td class="letterPanel"><?php echo $this->letterPanel;?></td>
	</tr>
</table>


<br>
<?php if ($this->word):?>
<div>
	<h1>
		<?php echo $this->word;?>
	</h1>
	<h2>SORRY, YOU ARE HANGED!!!</h2>
	<br> <span class="playAgain">
	<a href="<?php echo $this->playAgain;?>">Play again ?</a> </span>
</div>
<?php else:?>

<br>
<div>
	Tries left:
	<?php echo $this->wrongLeft;?>
</div>
<?php endif;?>

<br>
<?php
echo $this->links;
?>

<?php if($this->win):?>
<div>
	<h1>Congratulations!!! &nbsp;You win!!!</h1>
	<span class="playAgain">
	<a href="<?php echo $this->playAgain;?>">Play again ?</a> </span>
</div>
<?php endif;?>
