<?php if ($this->lastInsertId): ?>
Success !! Your word has been added
<br>
<table border="1">
	<tr>
		<th>Id</th>
		<th>Word</th>
	</tr>
	<?php foreach ($this->words as $k => $v):?>
	<?php if($this->lastInsertId == $v['id']):?>
	<tr bgcolor="#FF0000">
		<td><?php echo $v['id'];?></td>
		<td><?php echo $v['word'];?></td>
	</tr>
	<?php else :?>
	<tr>
		<td><?php echo $v['id'];?></td>
		<td><?php echo $v['word'];?></td>
	</tr>
	<?php endif;?>
	<?php endforeach;?>
</table>
<br>
<a
	href="<?php echo $this->url(
		array('controller' => 'hangman', 'action' => 'add-word'));?>">Add
	another word</a>
<br>
<a
	href="<?php echo $this->url(
		array('controller' => 'hangman', 'action' => 'play'));?>">Play game</a>
<?php else: ?>
OOPS something when wrong..
<br>
<a
	href="<?php echo $this->url(
		array('controller' => 'hangman', 'action' => 'add-word'));?>">Add
	another word</a>
<br>
<a
	href="<?php echo $this->url(
		array('controller' => 'hangman', 'action' => 'play'));?>">Play game</a>
<?php endif; ?>
