<?php echo $this->doctype();
// setting the controller and action name as title segments:
$request = Zend_Controller_Front::getInstance()->getRequest();
if ($request->getActionName() != "index") {
	$this->headTitle(ucwords($request->getActionName()));
}
if (($request->getControllerName() != "index") && ($request->getControllerName() != "error")) {
	$this->headTitle(ucwords($request->getControllerName()));
}
if ($request->getActionName() == "index") {
	$this->headTitle(ucwords($request->getActionName()));
}
$this->headTitle('- Hangman PHP');

// setting a separator string for segments:
$this->headTitle()->setSeparator(' ');
?>
<html>
<head>
<?php 
echo $this->headMeta()->setHttpEquiv('Content-Type', 'text/html; charset=utf-8');
echo $this->headTitle(); ?>

<?php $this->headLink()->appendStylesheet('/css/core.css'); ?>
<?php echo $this->headScript(); echo $this->headLink();?>
</head>

<body>
	<noscript>
		<strong>Warning:</strong> You do not have Javascript enabled, which
		this application requires for certain features to work correctly.
		Please enable Javascript before continuing.
	</noscript>


<?php echo $this->layout()->content; ?>